[package]
name = "rdev"
version = "0.2.1"
authors = ["Nicolas Patry <patry.nicolas@protonmail.com>"]
edition = "2018"

description = "Listen and send keyboard and mouse events on Windows, Linux and MacOS."
documentation = "https://docs.rs/rdev/"
homepage = "https://github.com/Narsil/rdev"
repository = "https://github.com/Narsil/rdev"
readme = "README.md"
keywords = ["input", "mouse", "testing", "keyboard", "automation"]
categories = ["development-tools::testing", "api-bindings", "hardware-support"]
license = "MIT"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.20"
core-graphics = {version = "0.19.0", features = ["highsierra"]}
core-foundation = {version = "0.7"}
core-foundation-sys = {version = "0.6"}


[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
x11 = {version = "2.18", features = ["xlib", "xrecord"]}
xproto = "1.1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3", features = ["winuser", "errhandlingapi"] }

[dev-dependencies]
tokio = {version = "0.2", features=["process", "rt-core", "io-util", "macros"]}
